# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS Code
.vscode/*
.vscode

# TA's testbench
1.data
2.data
3_revised.data
doc.data

# Reference
Ref
Ref/*

# My test
testfio
testfio.cpp
testfio.data
test1.final

# exe
108062208_proj1_first